<a href="https://colab.research.google.com/github/Shrinidhi-Nadig/ML-Lab/blob/main/Two_Way_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
import os

In [16]:
path = r"/content/dummy_customer_transactions.csv"

In [17]:
print(os.path.exists(path))

True

In [19]:
df = pd.read_csv(path)

In [20]:
print(df.head)

<bound method NDFrame.head of      Customer_ID    Name  Age  Gender     City  Purchase_Amount  \
0       CUST1000  Sophia   64    Male     Pune          9358.32
1       CUST1001    Noah   40  Female    Delhi          4170.43
2       CUST1002   Alice   48  Female    Delhi          8618.38
3       CUST1003   Alice   42  Female   Karwar          7078.04
4       CUST1004   Alice   44  Female      Goa          2994.69
...          ...     ...  ...     ...      ...              ...
5995    CUST6995  Olivia   48   Other   Mysore          4638.92
5996    CUST6996   Ethan   64  Female    Delhi           957.86
5997    CUST6997   Clara   45  Female   Mysore          1962.26
5998    CUST6998  Sophia   63   Other    Delhi          6954.32
5999    CUST6999   Ethan   63   Other  Chennai          8154.46

     Membership_Level Purchase_Date  Churn
0            Platinum    22-11-2023      0
1            Platinum    01-10-2024      0
2                Gold    25-02-2024      0
3              Silver    16-02-2025      0
4              Silver    14-07-2025      1
...               ...           ...    ...
5995             Gold    06-09-2024      0
5996             Gold    19-02-2025      1
5997             Gold    12-10-2024      0
5998           Silver    02-11-2024      1
5999             Gold    13-12-2023      0

[6000 rows x 9 columns]>

In [21]:
X = df.drop(columns=["Churn"])

In [22]:
y = df["Churn"]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [24]:
train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

In [25]:
train_df.to_csv("train_data.csv", index=False)
test_df.to_csv("test_data.csv", index=False)

In [26]:
print("Training set shape:", train_df.shape)
print("Testing set shape:", test_df.shape)

Training set shape: (4800, 9)
Testing set shape: (1200, 9)